/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff; /* Blue color */
}

.list-group {
    padding: 0;
    list-style: none;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    background-color: #f8f9fa; /* Light grey background */
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doctor-info {
    flex: 1;
}

.doctor-actions {
    flex-shrink: 0;
}

.doctor-name {
    font-weight: bold;
    color: #333;
}

.doctor-email {
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
