body {
    font-family: 'Roboto', sans-serif;
    background: url('/static/PatientBackgroundNew.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative; /* Ensure the body is positioned relative for overlay positioning */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    z-index: -1; /* Ensure this is behind the main content */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

/* Patients and Doctors card styles */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 255, 0.2);
}

.card img {
    border-radius: 50%;
    height: 150px; /* Increased size */
    width: 150px; /* Increased size */
    margin: 0 auto 20px; /* Centered and added margin bottom */
    display: block; /* Ensures centering */
}

.card h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.card p {
    color: #666;
    font-size: 1rem;
    margin: 0 0 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 5px; /* Added margin for spacing between buttons */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card-container {
    flex: 1 1 300px;
    max-width: 300px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
