{% extends 'main.html' %}

{% block title %}
<title>Doctors</title>
<link rel="stylesheet" href="/static/css/doctors.css">
{% endblock title %}

{% block body %}
<div class="container">
    
    {% if doctors %}
        <h1 id="Doc">Doctors</h1>
    
       
            {% for doctor in doctors %}
                <div class="card-container">
                    <div class="card">
                        <img src="{{ url_for('static', filename='doctor.jpg') }}" alt="Doctor Picture">
                        <h2>{{ doctor.username }}</h2>
                        <p>{{ doctor.email }}</p>
                        <a href="{{ url_for('private_chat', username=doctor.username) }}" class="btn btn-primary">Chat with {{ doctor.username }}</a>
                        <a href="{{ url_for('video_call', username=doctor.username) }}" class="btn btn-primary">Call Dr. {{ doctor.username }}</a>
                    </div>
                </div>
            {% endfor %}
     
    {% else %}
        <h1 class="text-center mb-4">Sorry, No Doctor available</h1>   
    {% endif %}

</div>

{% endblock body %}

